<% tasks.each do |task| %>
  <div class="task-and-comments">
    <div class="task-card <%= task.priority %>">
      <div class="task-infos">
        <p class="deadline-sticker bg-warning">cancelled</p>
        <a class="deadline-sticker comment-sticker" data-toggle="collapse" href="#collapseComments-<%= task.id %>" role="button" aria-expanded="false" aria-controls="collapseComments-<%= task.id %>">
          <%= pluralize( task.comments.count, "comment") %>
        </a>
      </div>
      <div class="task-title-and-actions">
        <div class="task-title"><h6><%= task.title %></h6></div>
        <div class="task-actions">
          <%= link_to "back in my tasks !", mark_as_todo_path(task), method: :post, remote: true, class: 'action-btn todo-again-btn' unless task.todo? %>

          <%#= link_to "🗑", task_path(task), method: :delete, remote: true %>
        </div>
      </div>
    </div>
    <div class="collapse collapse-comments" id="collapseComments-<%= task.id %>">
      <div class="comments">
        <% if policy(Comment).create? %>
          <%= simple_form_for([ task, @comment ], remote: true) do |f| %>
            <%= f.input :content, placeholder: "add comment..." %>
            <div class="comment-submit"><%= f.submit "+" %></div>
          <% end %>
        <% end %>
        <% unless task.comments.empty? %>
          <div class="comment-cards">
            <% task.comments.each do |comment| %>
              <div class="comment-card">
                <div class="comment-content"><p><%= comment.content %></p></div>
                <%= link_to "🗑", comment_path(comment), method: :delete, remote: true %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="collapse collapse-comments collapse-priorities" id="collapsePriority-<%= task.id %>">
      <div class="priorities">
        <%= link_to "very urgent", mark_as_very_urgent_path(task), method: :post, remote: true unless task.very_urgent? %>
        <%= link_to "urgent", mark_as_urgent_path(task), method: :post, remote: true unless task.urgent? %>
        <%= link_to "not so urgent", mark_as_normal_path(task), method: :post, remote: true unless task.normal? %>
      </div>
    </div>
  </div>
<% end %>
