<% if tasks.empty? %>
  <div class="task-and-comments">
    <div class="task-card">
      <div class="task-infos">
      </div>
      <div class="task-title-and-actions">
        <div class="task-title"><h5>Your todo list is empty !</h5></div>
        <div class="task-title"><h6>Add a new task to your list using the form just above 😀</h6></div>
        <div class="task-actions">
        </div>
      </div>
    </div>
  </div>
<% end %>

<% tasks.each do |task| %>
  <div class="task-and-comments" data-id="<%= task.id %>">
    <div class="task-card <%= task.priority %> grabbable-task">
      <div class="task-infos">
        <div class="deadline-and-calendar-btn">
          <% if (task.deadline - Date.today).to_i >= 1 %>
            <a class="deadline-sticker upcoming" data-toggle="collapse" href="#collapseDeadline-<%= task.id %>" role="button" aria-expanded="false" aria-controls="#collapseDeadline-<%= task.id %>">
              <%= pluralize((task.deadline - Date.today).to_i, "day") %> left
            </a>
          <% elsif (task.deadline - Date.today).to_i == 0 %>
            <a class="deadline-sticker today" data-toggle="collapse" href="#collapseDeadline-<%= task.id %>" role="button" aria-expanded="false" aria-controls="#collapseDeadline-<%= task.id %>">
              today
            </a>
          <% else %>
            <a class="deadline-sticker passed" data-toggle="collapse" href="#collapseDeadline-<%= task.id %>" role="button" aria-expanded="false" aria-controls="#collapseDeadline-<%= task.id %>">
              passed
            </a>
          <% end %>
        </div>
        <div class="priority-and-priorities-btn">
          <a class="deadline-sticker <%= task.priority %>" data-toggle="collapse" href="#collapsePriority-<%= task.id %>" role="button" aria-expanded="false" aria-controls="collapsePriority-<%= task.id %>">
            <%= "high priority" if task.very_urgent? %>
            <%= "urgent" if task.urgent? %>
            <%= "not urgent" if task.normal? %>
          </a>
          <div class="collapse collapse-priorities" id="collapsePriority-<%= task.id %>">
            <div class="priorities">
              <%= link_to "very urgent", mark_as_very_urgent_path(task), class: 'deadline-sticker very_urgent', method: :post, remote: true unless task.very_urgent? %>
              <%= link_to "urgent", mark_as_urgent_path(task), class: 'deadline-sticker urgent',method: :post, remote: true unless task.urgent? %>
              <%= link_to "not so urgent", mark_as_normal_path(task), class: 'deadline-sticker normal',method: :post, remote: true unless task.normal? %>
            </div>
          </div>
        </div>
        <div class="comment-and-comments-btn">
          <a class="deadline-sticker comment-sticker" data-toggle="collapse" href="#collapseComments-<%= task.id %>" role="button" aria-expanded="false" aria-controls="collapseComments-<%= task.id %>">
            <%= pluralize( task.comments.count, "comment") %>
          </a>
        </div>
      </div>
      <div class="task-title-and-actions">
        <div class="task-title"><h6><%= task.title %></h6><h6>↕</h6></div>
        <div class="task-actions">
          <%= link_to "it's done !", mark_as_done_path(task), method: :post, remote: true, class: 'action-btn done-btn' unless task.done? %>
          <%= link_to "cancel this..", mark_as_cancelled_path(task), method: :post, remote: true, class: 'action-btn cancel-btn' unless task.cancelled? %>
        </div>
      </div>
    </div>
    <div class="collapse collapse-comments" id="collapseComments-<%= task.id %>">
      <div class="comments">
        <% if policy(Comment).create? %>
          <%= simple_form_for([ task, @comment ], remote: true) do |f| %>
            <%= f.input :content, placeholder: "add comment..." %>
            <div class="comment-submit"><%= f.submit "+" %></div>
          <% end %>
        <% end %>
        <% unless task.comments.empty? %>
          <div class="comment-cards">
            <% task.comments.each do |comment| %>
              <div class="comment-card">
                <div class="comment-content"><p><%= comment.content %></p></div>
                <%= link_to "🗑", comment_path(comment), method: :delete, remote: true %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <% if policy(task).update? %>
      <div class="collapse collapse-comments" id="collapseDeadline-<%= task.id %>">
        <div class="deadline-form">
            <%= simple_form_for(task, remote: true) do |f| %>
              <%= f.input :deadline, placeholder: "#{task.deadline.strftime("%-d %B %Y")}", as: :string, required: true, input_html: {class: "datepicker"} %>
              <div class="task_submit"><%= f.submit "save" %></div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
