<div class="container py-5" id="main-container">
  <div class="list-header">
    <h1>My list</h1>
  </div>
  <% if policy(Task).create? %>
    <%= simple_form_for(@task, remote: true) do |f| %>
      <div class="form-task-title-and-deadline">
        <%= f.input :title, placeholder: "new task.." %>
        <div class="deadline-with-calendar text-center">

          <%= f.input :deadline, label: "🗓", placeholder: "#{Date.today.strftime("%-d %b %y")}", as: :string, required: true, input_html: {class: "datepicker"} %>
        </div>
      </div>
      <%= f.input :priority, as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: {class: 'category-selector'},
                  collection: [['normal', 'normal'], ['urgent', 'urgent'], ['very_urgent', 'high priority']], label_method: :second, value_method: :first%>
      <div class="task_submit"><%= f.submit "+" %></div>
    <% end %>
  <% end %>
  <div class="todo-and-done-tasks">
    <div class="to-do-tasks">
      <div class="status-infos">
        <div class="d-flex"><h5 class="mr-2">To do</h5> <p>(<%= todo(@tasks).count %>)</p></div>
        <div id="deadlines-and-priorities-toggle">
          <p id="by_deadlines" class="deadlines-priorities-btn">deadlines</p>
          <p id="by_positions" class="deadlines-priorities-btn active">my order</p>
          <p id="by_priorities" class="deadlines-priorities-btn">priorities</p>
        </div>
      </div>
      <div id="tasks_by_deadlines" class="task-cards main-lists d-none">
        <%= render 'tasks/tasks_todo', tasks: todo(@tasks_by_deadlines) %>
      </div>
      <div id="tasks_by_positions" class="task-cards main-lists" data-controller="drag" data-drag-url="move/:id">
        <%= render 'tasks/draggable_tasks_todo', tasks: todo(@tasks_by_positions) %>
      </div>
      <div id="tasks_by_priorities" class="task-cards main-lists d-none">
        <%= render 'tasks/tasks_todo', tasks: todo(@tasks_by_priorities) %>
      </div>
    </div>
    <div class="done-tasks">
      <div class="status-infos">
        <div class="d-flex"><h5 class="mr-2">Done</h5><p>(<%= done(@tasks).count %>)</p></div>
      </div>
      <div class="task-cards">
        <%= render 'tasks/done_tasks', tasks: done(@tasks) %>
      </div>
    </div>
    <div class="cancelled-tasks">
      <div class="status-infos">
        <div class="d-flex"><h5 class="mr-2">Cancelled</h5><p>(<%= cancelled(@tasks).count %>)</p></div>
      </div>
      <div class="task-cards">
        <%= render 'tasks/cancelled_tasks', tasks: cancelled(@tasks) %>
      </div>
    </div>
  </div>
</div>

