<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<% if policy(Task).create? %>
  <%= simple_form_for(@task) do |f| %>
    <%= f.input :title %>
    <%= f.input :deadline %>
    <%= f.submit "+" %>
  <% end %>

<% end %>

<% unless @tasks.empty? %>
  <div class="task-cards">
    <% @tasks.each do |task| %>
      <div class="task-card">
        <%= link_to "destroy task", task_path(task), method: :delete %>
        <%= task.title %>
        <p><%= distance_of_time_in_words(Time.now, task.deadline) %> left</p>
        <div class="comments">
          <% if policy(Comment).create? %>
            <%= simple_form_for [ task, @comment ] do |f| %>
              <%= f.input :content %>
              <%= f.submit "add" %>
            <% end %>
          <% end %>
          <% unless task.comments.empty? %>
            <% task.comments.each do |comment| %>
              <%= comment.content %>
              <%= link_to "destroy comment", comment_path(comment), method: :delete %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

