<div class="container py-5">
  <div class="list-header">
    <h1>My list</h1>
    <p><%= pluralize(@tasks_counter, 'task') %> yet to do !</p>
  </div>
  <% if policy(Task).create? %>
    <%= simple_form_for(@task, remote: true) do |f| %>
      <%= f.input :title, placeholder: "new task.." %>
      <%= f.input :deadline, placeholder: "🗓", as: :string, required: true, input_html: {class: "datepicker"} %>
      <div class="task_submit"><%= f.submit "+" %></div>
    <% end %>
  <% end %>
  <div class="todo-and-done-tasks">
    <h5>To do</h5>
    <div id="tasks_by_deadlines" class="task-cards d-none">
      <%= render 'tasks/tasks_todo', tasks: @tasks_by_deadlines %>
    </div>
    <div id="tasks_by_priorities" class="task-cards">
      <%= render 'tasks/tasks_todo', tasks: @tasks_by_priorities %>
    </div>
  </div>
</div>

